h1 {
    background-color: red;
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
.Managercard {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    
}
.Engineercard {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    /* justify-content: space-around;    */
}

.Engineer1card {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    justify-content: space-around;   
}
.Engineer2card {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    justify-content: space-around;   
}
.Engineer3card {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    justify-content: space-around;   
}
.Interncard {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    justify-content: space-around;   
}
.card-deck {display: flex;
flex-wrap: wrap;
padding: 50px;
justify-content: space-evenly;
}

.card-body {
    background-color:blue;
    color: black;
 }
 .col-sm-4 {justify-content:space-evenly;}

 .iconify {size: 25px;}

