h1 {
    background-color: red;
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
.card {border: solid black;
    padding-bottom: 25px;
    align-self: baseline;
    display: flexbox;
    justify-content: space-around;
    
}

.card-body {
    background-color:blue;
    color: black;
 }
 

